<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Radar AB2L</title>
    <link href="/assets2/img/ab2l-icon.png" rel="shortcut icon" />
    <link href="~/Content/radar.min.css" rel="stylesheet" />

</head>
<body>

    <section class="flex-radar">

        <div class="ab2l-logo">
            <img src="/assets2/img/ab2l.png" alt="Alternate Text" />
            <p>Radar de empresas associadas <br /> Versão 2.7 - 2018</p>
        </div>

        <div class="estruturas-dinamica-0">
            <h4>Conteúdo, Educação e Consultoria</h4>
            <article>
                <img src="/assets2/img/jusbrasil.png" alt="Jusbrasil" />
                <img src="/assets2/img/reclameAqui.png" alt="ReclameAqui" />
                <img src="/assets2/img/ab2l-icon.png" alt="QueroReclamar.com" />
                <img src="/assets2/img/LogoGoesLight.png" alt="Goeslight" />
                <img src="/assets2/img/ab2l-icon.png" alt="QueroReclamar.com" />
                <img src="/assets2/img/QueroReclamar.com.png" alt="QueroReclamar.com" />
                <img src="/assets2/img/LogoGoesLight.png" alt="Goeslight" />
            </article>
        </div>

        <div class="estruturas-dinamica-1">
            <h4>AI - Setor Público</h4>
            <article>
                <img src="/assets2/img/QueroReclamar.com.png" alt="QueroReclamar.com" />
            </article>
        </div>

        <div class="estruturas-dinamica-2">
            <h4>Automação e Gestão de Documentos</h4>
            <article>
                <img src="/assets2/img/jusbrasil.png" alt="Jusbrasil" />
                <img src="/assets2/img/reclameAqui.png" alt="ReclameAqui" />
                <img src="/assets2/img/QueroReclamar.com.png" alt="QueroReclamar.com" />
                <img src="/assets2/img/LogoGoesLight.png" alt="Goeslight" />
            </article>
        </div>

        <div class="estruturas-dinamica-3">
            <!-- style="flex-basis:30%;"  -->
            <h4>Faça você mesmo</h4>
            <article>
                <img src="/assets2/img/jusbrasil.png" alt="Jusbrasil" />
                <img src="/assets2/img/reclameAqui.png" alt="ReclameAqui" />
            </article>
        </div>

        <div class="estruturas-dinamica-4">
            <!-- style="flex-basis:30%;"  -->
            <h4>Monitoriamento e extração de dados públicos</h4>
            <article>
                <img src="/assets2/img/jusbrasil.png" alt="Jusbrasil" />
                <img src="/assets2/img/reclameAqui.png" alt="ReclameAqui" />
                <img src="/assets2/img/QueroReclamar.com.png" alt="QueroReclamar.com" />
                <img src="/assets2/img/LogoGoesLight.png" alt="Goeslight" />
                <img src="/assets2/img/QueroReclamar.com.png" alt="QueroReclamar.com" />
                <img src="/assets2/img/LogoGoesLight.png" alt="Goeslight" />
                <img src="/assets2/img/jusbrasil.png" alt="Jusbrasil" />
                <img src="/assets2/img/QueroReclamar.com.png" alt="QueroReclamar.com" />
                <img src="/assets2/img/LogoGoesLight.png" alt="Goeslight" />
                <img src="/assets2/img/jusbrasil.png" alt="Jusbrasil" />
                <img src="/assets2/img/reclameAqui.png" alt="ReclameAqui" />
                <img src="/assets2/img/reclameAqui.png" alt="ReclameAqui" />
                <img src="/assets2/img/QueroReclamar.com.png" alt="QueroReclamar.com" />
                <img src="/assets2/img/QueroReclamar.com.png" alt="QueroReclamar.com" />
                <img src="/assets2/img/LogoGoesLight.png" alt="Goeslight" />
            </article>
        </div>

        <div class="estruturas-dinamica-5">
            <!-- style="flex-basis:30%;"  -->
            <h4>Gestão escritórios e departamentos jurídicos</h4>
            <article>
                <img src="/assets2/img/jusbrasil.png" alt="Jusbrasil" />
                <img src="/assets2/img/reclameAqui.png" alt="ReclameAqui" />
                <img src="/assets2/img/QueroReclamar.com.png" alt="QueroReclamar.com" />
                <img src="/assets2/img/LogoGoesLight.png" alt="Goeslight" />
                <img src="/assets2/img/QueroReclamar.com.png" alt="QueroReclamar.com" />
                <img src="/assets2/img/LogoGoesLight.png" alt="Goeslight" />
                <img src="/assets2/img/jusbrasil.png" alt="Jusbrasil" />
                <img src="/assets2/img/QueroReclamar.com.png" alt="QueroReclamar.com" />
                <img src="/assets2/img/LogoGoesLight.png" alt="Goeslight" />
                <img src="/assets2/img/jusbrasil.png" alt="Jusbrasil" />
                <img src="/assets2/img/reclameAqui.png" alt="ReclameAqui" />
                <img src="/assets2/img/reclameAqui.png" alt="ReclameAqui" />
                <img src="/assets2/img/QueroReclamar.com.png" alt="QueroReclamar.com" />
                <img src="/assets2/img/QueroReclamar.com.png" alt="QueroReclamar.com" />
                <img src="/assets2/img/LogoGoesLight.png" alt="Goeslight" />
            </article>
        </div>

        <div class="estruturas-dinamica-6">
            <!-- style="flex-basis:30%;"  -->
            <h4>Rede de Profissionais</h4>
            <article>
                <img src="/assets2/img/jusbrasil.png" alt="Jusbrasil" />
                <img src="/assets2/img/reclameAqui.png" alt="ReclameAqui" />
                <img src="/assets2/img/QueroReclamar.com.png" alt="QueroReclamar.com" />
                <img src="/assets2/img/LogoGoesLight.png" alt="Goeslight" />
            </article>
        </div>

        <div class="estruturas-dinamica-7">
            <!-- style="flex-basis:30%;"  -->
            <h4>Analytics e Jurimetria</h4>
            <article>
                <img src="/assets2/img/jusbrasil.png" alt="Jusbrasil" />
                <img src="/assets2/img/reclameAqui.png" alt="ReclameAqui" />
                <img src="/assets2/img/QueroReclamar.com.png" alt="QueroReclamar.com" />
                <img src="/assets2/img/LogoGoesLight.png" alt="Goeslight" />
            </article>
        </div>

        <div class="estruturas-dinamica-8">
            <!-- style="flex-basis:30%;"  -->
            <h4>Resolução de conflitos online</h4>
            <article>
                <img src="/assets2/img/jusbrasil.png" alt="Jusbrasil" />
                <img src="/assets2/img/reclameAqui.png" alt="ReclameAqui" />
                <img src="/assets2/img/QueroReclamar.com.png" alt="QueroReclamar.com" />
                <img src="/assets2/img/LogoGoesLight.png" alt="Goeslight" />
            </article>
        </div>

    </section>

</body>
</html>